/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--primary-color: black;
	--secundary-color: rgb(74, 74, 74);
	--tertiary-color: white;
	--primary-color-background: #f7eedc;
	--secundary-background-color: #b51c1e;
	--tertiary-background-color: #f1e1c1;
	--group-background-color: white; 
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* typografie */
body{
  font-family: "Roboto Slab", serif, sans-serif;
  font-style: normal;
  line-height: 1.5;
  margin: 0em;
  text-align: left;
  color: var(--primary-color);
  background-color: var(--primary-color-background);
}
footer{
	text-align: center;
	background-color: var(--secundary-background-color);
	color: var(--tertiary-color);
	padding-bottom: 1.5em;
}
h1, h2, h3:not(footer h1, h2, h3){ 
	color: var(--primary-color);
}
h1, h2{
	font-size: 28px;
}
h3{
	font-size: 20px;
}
p{
	font-size: 18px;
}
main p{
	color: var(--secundary-color);
}
a{
	text-decoration: none;
}
a:not(footer a){
	color: var(--primary-color);
}
footer a{
	color: var(--tertiary-color);
}
li{
	list-style-type: none;
	margin-left: -2.4em;
}
i{
	font-size: 14px;
}
u{
	color: var(--secundary-color);
}
header>nav>ol>li>a{
	color: var(--secundary-color);
	font-weight: 300;
}
button{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
.diffsize h3, .scrol h3{
	font-size: 25px;
}
.diffsize p, .scrol p{
	font-size: 16px;
}
.diffsize img + p, .scrol img +p{
	font-size: 21px;
}
main>h2{
	margin: 1em;
}
.banner h1, .banner p{
	color: var(--tertiary-color);
}
footer>ul>li>a, footer>a, footer>p{
	font-size: 14px;
}
footer>a{
	background-color: #468254;
}
footer hr{
	color: rgb(183, 183, 183);
	border-width: 0.001em;
}


/* Afbeeldingen */
img{
	max-width: 100%;
}
header>img{
	display: block;
	padding: 0.6em;
	background-color: var(--group-background-color);
	position: fixed;
	right: 0.2em;
    bottom: 0.8em;
    z-index: 9999;
	width: 3.7em;
}
ol img{
	width: 0.36em;
	margin-right: 0.4em;
}
header ul img:not(.wereldbol){
	width: 0.6em;
	position: absolute;
	right: 1.4em;
}
header>nav>button>img{
	width: 1.2em;
	margin-top: 0.5em;
}
header>nav>a>img{
	margin-left: 10em;
	margin-top: 0.5em;
	width: 3.5em;
}
footer img{
	width: 3em;
}
footer>img{
	width: 10em;
	margin-top: 2em;
}
.wereldbol{
	width: 1.6em;
	margin-right: 0.4em;
}
.diffsize li>img, .scrol li>img{
	width: 1.4em;
}


/* Button */
button:not(header nav button){
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 5.4em;
	padding-right: 5.4em;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	background-color: var(--secundary-background-color);
	border-color: var(--secundary-background-color);
	border-radius: 0.4em;
	color: var(--tertiary-color);
}
header nav button{
	background: none;
	border: none;
}
button.white{
	background-color: var(--tertiary-color);
	border-color: var(--secundary-background-color);
	color: var(--secundary-background-color)
} 


/* Groepen */
section:not(.nosectionstyling, .banner){
	background-color: var(--group-background-color);
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 1em;
}
section.grid{
	background-color: var(--group-background-color);
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 0em;
}
section.grid ul{
	display: grid;
	gap: 2em;
}
section.grid li{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 0.4fr 2fr 0.3fr;
}
section.grid li img{
	grid-column: 1/-1;
	grid-row: 1/2;
}
section.grid li h2{
	grid-column: 1/-1;
	grid-row: 2/3;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
section.grid li h3{
	grid-column: 1/-1;
	grid-row: 2/3;
	margin-left: 1em;
	margin-right: 1em;
}
section.grid li p{
	grid-column: 1/-1;
	grid-row: 3/4;
	margin-left: 1em;
	margin-right: 1em;
}
section.grid li button{
	margin-left: 0.8em;
	margin-right: 0.8em;
}
ol{
	margin-bottom: 0.3em;
	margin-left: 1.6em;
	margin-top: 0.2em;
	font-size: 14px;
}
section:first-of-type h1{
	margin-left: 1em;
	margin-top: 1.5em;
	margin-bottom: 0.8em;
	font-size: 32px;
}
section:first-of-type p{
	margin-left: 1.44em;
	margin-right: 1.44em;
}
section:first-of-type button{
	margin-left: 1.3em;
	padding-left: 4.12em;
	padding-right: 4.12em;
	padding-top: 0.95em;
	padding-bottom: 0.95em;
	margin-top: 0em;
	font-size: 17px;
}
.banner{
	background-image: url("../images/burendag-20e-editie.png");
	background-size: 620px;
	background-position: 72%;
	margin: 0em;
	border-radius: 0em;
	padding-bottom: 17em;
	padding-top: 0.08em;
}
section.diffsize{
	margin-left: 0em;
	margin-right: 0em;
	padding: 2em;
}
.centreer{
	text-align: center;
	margin-bottom: -2.6em;
}
section.nobackground{
	background-color: var(--primary-color-background);
}
section.nobackground h3{
	font-size: 26px;
	margin-left: 1em;
}
section.nobackground button{
	margin-left: 1.5em;
	margin-bottom: 4em;
	padding-left: 5.4em;
	padding-right: 5.4em;
}
section.nobackground img{
	margin-bottom: -1em;
	margin-top: 2em;
}
section:last-of-type{
	background-color: var(--tertiary-background-color);
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 5em;
	margin-bottom: 5em;
}
section:last-of-type li{
	margin-left: -2.4em;
}
section:last-of-type button{
	margin-left: 0.8em;
}
footer nav ul:last-of-type{
	display: flex;
	align-items: center;
}
footer nav ul:last-of-type a{
	margin-left: 3em;
}
footer nav ul:last-of-type p{
	margin-left: 3em;
}
nav ul:last-of-type a{
	display: flex;
	align-items: center;
}
.diffsize li li, .scrol li li{
	display: flex;
	align-items: center;
	border-radius: 2em;
	background-color: var(--primary-color-background);
	padding-left: 0.5em;
	padding-bottom: 0.07em;
	padding-top: 0.07em;
	margin-bottom: 0.4em;
	padding-right: 0em;
}
.diffsize li li p, .scrol li li p{
	font-size: 14px;
	margin-left: 0.8em;
}


/* Hamburgermenu */
header{
	display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
	background-color: var(--group-background-color);
}
header nav{
	order: -1;
}
header nav button{
	position: absolute;
	top: 1em;
    right: 1em;
	z-index: 100;
}
header nav.toonMenu button img {
  content: url("../images/kruisje.svg");
  position: fixed;
  top: 1em;
  right: 1em;
}
header nav ul{
	position: fixed;
    left: 0em;
    right: 0em;
    top: -1em;
    bottom: -1em;
	translate: -100% 0%;
    transition: translate .3s;
}
header nav ul li{
	margin-left: -0.8em;
	margin-top: 1em;
	font-weight: 700;
}
header nav ul li:first-of-type{
	margin-top: 5em;
}
header nav ul li:nth-of-type(8){
	margin-top: 1.6em;
	margin-bottom: -0.5em;
	font-weight: 400;
}
header nav ul li:last-of-type{
	font-weight: 400;
	font-size: 15px;
}
header nav.toonMenu ul{
    translate: 0% 0%;
}
header nav.toonMenu ul{
	background-color: var(--primary-color-background);
}
header hr{
	margin-top: 14em;
	margin-left: -0.8em;
	margin-right: 1em;
	color: rgb(183, 183, 183);
}

/* Formulier*/
textarea{
	width: 24em;
	margin-left: -2.8em;
	margin-top: -1em;
	border-radius: 0.6em;
	padding: 0.8em;
	outline-style: none;
	border: 1px solid;
}
textarea:focus{
	box-shadow: 1px 3px 6px rgb(132, 132, 132);
}

/* Verplicht veld */
.ster{
	color: #b51c1e;
	font-weight: 450;
	font-size: 15px;
	margin-left: 0.5em;
}
section:last-of-type li{
	display: flex;
	align-items: center;
}

/*checkbox*/
section:last-of-type a{
	display: flex;
	align-items: baseline;
}

/* Flexbox scrollen */
.scrol{
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    gap: 5.5em;
    scrollbar-width: thin;
    scrollbar-color: red transparent; 
	margin: 1em;
	padding: 0em;
	border-radius: 1em;
}
.scrol>li{
	margin-left: 1em;
}
.scrol li{
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.scrol::-webkit-scrollbar-button(*){
  width: 3em;
  aspect-ratio: 1;
  margin: 1em 0 0;
  padding: 1em;
  background-color: red;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
}
.scrol::-webkit-scrollbar-button(:right){
  content: '→' / 'Next';
  right: clamp(1.5rem, 5vw, 2rem);
}
.scrol::-webkit-scrollbar-button(:left){
  content: '←' / 'Previous';
  left: clamp(1.5rem, 5vw, 2rem);
}
.scrol::-webkit-scrollbar-button(*):disabled{
  opacity:.5;
}




/*
@media (min-width:38em) {
	header nav{
		order: 0;  
	}
	header nav button{
		display: none;
	}
	header nav ul{
    position: static;
    translate: unset;
    padding: 0;
    background: none;
    }
	header nav li{
    flex-basis: unset;
    flex-grow: unset;
    }
	header nav a{
    flex-direction: column; 
    border: none;
    }
	header>a:last-of-type{
    flex-direction: column;
    }
}

@media (min-width:54em) {
  header>a:last-of-type, nav a{
    flex-direction: row;
  }
}

/* formulier 
not empty, want zoekveld wordt iets groter
/* button 
onclick gaat hij kleur veranderen.
focus-visible voor on tab